<!DOCTYPE html>
<html lang="en">
  <head>   <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/icon.png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <body>
    <div class="main-content">
    {{>header}}
    <p id="aboutText">{{text}}</p>
    <img alt="This is a picture of me" src="/img/anni.jpg" />
    </div>
    {{>footer}}
  </body>
</html>