<html>
  <head>   <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/icon.png" />
  <body>
    <div class="main-content">
    {{>header}}
    <p id="aboutText">{{text}}</p>
    <img alt="This is a picture of me" src="/img/anni.jpg" />
    </div>
    {{>footer}}
  </body>
</html>