<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/icon.png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <title>Weather App</title>
  <body>
    <div class="main-content"> 
    {{>header}}
    <p id="error404">{{text}}</p>
    </div>
   
     {{>footer}}

  </body>
</html>