<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/icon.png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p id="helpText">This weather app uses Weatherstack which is one of the most popular weather data REST API providers. The weatherstack Free Plan offers basic API functionality and a limitation of 250 monthly API lookups.
      After reaching 100% of the allowance, API access will be disabled.<br>
      For more information go to <a href ="https://weatherstack.com/" target="_blank">weatherstack.com.</a>
  </p>
    </div>
    {{>footer}}
  </body>
</html>