<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/icon.png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p id="helpText">This weather app uses Weatherstack which is one of the most popular weather data REST API providers. The weatherstack Free Plan, that is used in this app, offers basic API functionality and a limitation of 250 monthly API lookups.
      After reaching 100% of the allowance, API access will be disabled.<br>
      For more information go to <a href ="https://weatherstack.com/" target="_blank">weatherstack.com.</a>
      <p>Image by <a href="https://pixabay.com/users/danfador-55851/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=190055" target="_blank">Dan Fador</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=190055" target="_blank">Pixabay</a></p>
  </p>
    </div>
    {{>footer}}
  </body>
</html>